@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SecureGive Challenge CRUD Application</h1>
    <p>You can add, edit, and delete users for your sample application</p>
</div>
